{% load static %}
<script src="{% static 'js/app.js' %}?v={% now 'U' %}"></script>
{% if include_calendar %}
  <script src="{% static 'js/calendar-utils.js' %}?v={% now 'U' %}"></script>
{% endif %}
{% if page_script == "js/manager-shifts.js" %}
  <script src="{% static 'js/manager-shifts/core.js' %}?v={% now 'U' %}"></script>
  <script src="{% static 'js/manager-shifts/ui.js' %}?v={% now 'U' %}"></script>
  <script src="{% static 'js/manager-shifts/calendar.js' %}?v={% now 'U' %}"></script>
  <script src="{% static 'js/manager-shifts/modal-form.js' %}?v={% now 'U' %}"></script>
{% elif page_script %}
  <script src="{% static page_script %}?v={% now 'U' %}"></script>
{% endif %}
